<h1><%= @user.username %>'s Profile</h1>

<p>
<span>First Name: <%= @user.first_name %></span><br />
<span>Last Name: <%= @user.last_name %></span><br />
<span>Date of Birth: <%= @user.date_of_birth.to_date %></span><br />
<span>Email: <%= @user.email %></span>






</p>